@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap");
.App {
  padding: 2rem 4rem;
  font-family: "Fredoka", sans-serif;
  background-color: rgb(250, 244, 247);
  width: 100%;
  color: rgb(53, 52, 52);
}

@media (max-width: 900px) {
  .App {
    padding: 2rem;
  }
}
@media (max-width: 600px) {
  .App {
    padding: 1rem;
  }
}
